@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 12px;
    font-size: 10pt;
    color: #828282;
    display: block;
    margin: 8px;
}